HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# VS Code
.vscode/

# macOS
.DS_Store

# Local secrets/configuration
application.yml
application.properties
.env